body 
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 100%;
    background-color:  #363231;
}

h1
{
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color:  #2C9BC8;
    height: 65px;
}

#wrapper {
}

#buttons {
    display: inline-block;
    float: right;
    margin-right: 30px;
}

#container {
    display: inline-block;
    float: left;
}

input[type=button] {
    width: 80px;
    height: 40px;
    /*margin: 20px;*/
}

#svg-container {
	position: absolute; 
	z-index: 10; 
	top: 50px; 
	left: 50px;
	width: 300px;
	height: 500px;
	display: none;
}

#planet-name {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

#planet-sub-info {
	font-family: Arial;
	font-size: 14px;
}

#planet-info {
	font-family: Tahoma;
	font-size: 14px;
}

#svg-container rect {
	stroke: white;
	stroke-width: 1px;
	fill: lightblue;
}